*{
	font-family:"Montserrat-Regular", Sans-serif;
}

@font-face{
	font-family:Montserrat-Regular;
	src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face{
	font-family:Montserrat-Light;
	src: url(../fonts/Montserrat/Montserrat-Light.otf);
}

@font-face{
	font-family:Montserrat-Bold;
	src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}

@font-face{
	font-family:Montserrat-Extrabold;
	src: url(../fonts/Montserrat/Montserrat-Black.otf);
}

/*logo*/
.uno{
	background-color:rgba(240,240,240,.9);
	position: fixed;
	width: 100%;
	padding: 1%;
	box-shadow: 0px 0px 20px 0px;
	z-index: 1
}
/*logo*/
div.uno img{
	width:15%;
	margin-left: 5%
	}

/*Fondo votantes*/
.fondo1{
	background-image: url("../img/gente.jpg");
	background-size: cover;
	height: 850px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
/*filtro morado de imagen*/
.filtro{
	width: 100%;
	height: 850px;
	background-color:rgba(116,94,215,0.5);
}

/*texto globo inicio*/
h1.punchline{
	color:white;
	text-align: center;
	margin-left: 20%;
	margin-top: -70%;
	padding: 10%;
	line-height: 1.3em
}

.mt{
	margin-top: 13%;
}
/*gif smartphone*/
div.col-lg-5 img{
	width:50%;
}

/*BOTON ANDROID*/
a img:hover{
	transform: scale(1.2);
	transition:all 0.5s ease-out
}
div.col-lg-12 a img{
	width: 140px;
	margin-left: 64%;
	margin-top: .5%;
}

/*globo info inicio*/
div.col-lg-7 img{
	opacity: .3;
	width:70%;
	margin-top: -10%;
	margin-left: 25%;
}


	@media (max-device-width: 768px){
		.uno{
			height: 10vh;
		}
		div.uno img{
			height: 90%;
			width: auto;
		}
		.uno{
			height: 10vh;
		}
		div.uno img{
			height: 90%;
			width: auto;
		}
		
		/*Fondo votantes*/
		.fondo1{
			background-image: url("../img/gente.jpg");
			background-size: cover;
			height: 3500px;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center;
		}
		/*filtro morado de imagen*/
		.filtro{
			width: 100%;
			height: 3500px;
			background-color:rgba(116,94,215,0.5);
		}
		/*globo info inicio*/
		div.col-lg-7 img:first-child{
			position: absolute;
			opacity: .3;
			width:90%;
			margin: 5%
		}
		/*texto globo inicio*/
		h1.punchline{
			font-size: 4em;
			color:white;
			text-align: center;
			margin: 5%; 
			padding: 20% 10%;
			line-height: 1.3em
		}
		/*gif smartphone*/
		div.col-xs-12 img{
			width:100%;
		}

		/*BOTON ANDROID*/
		div.col-xs-12 a img:hover{
			transform: scale(1.2);
			transition:all 0.5s ease-out
		}
		div.col-xs-12 a img{
			width: 50%;
			margin:5% 25%;
		}
	}



/*Características*/
h2{
	color:#2E2E2E;
	font-size: 240%;
	text-align: center;
	margin-top: 8%;
}

h2+p{
	color:gray;
	text-align: center;
	margin-top: 1%;
}

@media (max-device-width: 768px){
		.heading{
			font-size: 6em;
		}
		h2.heading+p{
			font-size: 3em
		}
	}

.au{
	margin: auto;
}

/*Iconos CARACTERISTICAS*/

h3{
	text-align: center;
	padding: 7%;
	font-size: 110%;
}

hr{
	margin: auto;
	width: 50%;
	height: 10px;
	border-style: none;
	margin-bottom: 6%;
	background-color:#745EC5;
}

div.col-lg-4 img{
	width: 60%;
}

/*---LOCALIZAR*/
.loca{
	background-image: url("../img/localizacionicono.png");
	background-position: center;
	background-repeat:no-repeat;
}
@media (max-device-width: 768px){
		.loca{
			background-size: 25%;
		}
}
.loca:hover{
	background-image: url("../img/localizacionicono1.png");
	background-position: center;
	background-repeat:no-repeat;
	transition:all 0.5s ease-out
}

img[name=loca]:hover{
	background-image: url("../img/localizacionicono.png");
	background-position: center;
	background-repeat:no-repeat;
	-webkit-filter: hue-rotate(109deg);
	-moz-filter: hue-rotate(109deg);
	-o-filter: hue-rotate(109deg);
	-ms-filter: hue-rotate(109deg);
	transform: scale(1.1);
	transition:all 0.5s ease-out
}

/*---CONOCER*/
.cono{
	background-image: url("../img/3DE3icono.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: 25%;
}
@media (max-device-width: 768px){
		.cono{
			background-size: 25%;
		}
}
.cono:hover{
	background-image: url("../img/3DE3icono1.png");
	background-position: center;
	background-repeat:no-repeat;
	transition:all 0.5s ease-out
}

img[name=cono]:hover{
	background-image: url("../img/3DE3icono.png");
	background-position: center;
	background-repeat:no-repeat;
	-webkit-filter: hue-rotate(109deg);
	-moz-filter: hue-rotate(109deg);
	-o-filter: hue-rotate(109deg);
	-ms-filter: hue-rotate(109deg);
	transform: scale(1.1);
	transition:all 0.5s ease-out
}

/*---INTERACTUAR*/
.inte{
	background-image: url("../img/sendicon.png");
	background-position: center;
	background-repeat:no-repeat;

}
@media (max-device-width: 768px){
		.inte{
			background-size: 25%;
		}
}
.inte:hover{
	background-image: url("../img/sendicon1.png");
	background-position: center;
	background-repeat:no-repeat;
	transition:all 0.5s ease-out
}
img[name=inte]:hover{
	background-image: url("../img/sendicon.png");
	background-position: center;
	background-repeat:no-repeat;
	-webkit-filter: hue-rotate(109deg);
	-moz-filter: hue-rotate(109deg);
	-o-filter: hue-rotate(109deg);
	-ms-filter: hue-rotate(109deg);
	transform: scale(1.1);
	transition:all 0.5s ease-out
}
/*---info caracteristicas*/
.c{
	text-align: center;
}

hr+p{
	color:gray;
	text-align: center;
	font-size: 84%;
	line-height: 170%;
	padding: 5%;
}
/*Fondo gris oscuro*/
.fondo2{
	background-color: #2E2E2E;
	height:intrinsic;
	width: 100%;
	padding-bottom: 3%;

}

.message{
	color:white;
	font-size: 250%;
	font-weight: lighter;
	text-align: right;
	margin-top: 25%;
}
@media (max-device-width: 768px){
	.message{
		font-size: 500%;
	}
}
.padding-10{
	padding: 10%;
}
@media (max-device-width: 768px){
	.padding-10{
	padding: 0%;
	}
}

@media (max-device-width: 768px){
	.margin-40{
	margin-bottom:500%!important;
	}
}
div.col-5 p{
	color:white;
	margin-bottom: 10%;
	margin-top: 1%;
}

div.col-1 img{
	margin-bottom: 90%;
	width: 100%;
}
div.col-1 img:hover{
	-webkit-filter: hue-rotate(109deg);
	-moz-filter: hue-rotate(109deg);
	-o-filter: hue-rotate(109deg);
	-ms-filter: hue-rotate(109deg);
	transition:all 0.5s ease-out
}
/*logos Aliados*/

.aliados{
	width: 150px;
}
.margin-10{
	margin-top: 10%;
}
footer{
	background-color: #2E2E2E;
	padding: 2%;
	color: gray;
	margin-top: 5%
}
/*utilities*/
.larger{
	font-size: 100%;
}
@media (max-device-width: 768px){
	.larger{
		font-size: 300%;
	}
}
@media (max-device-width: 768px){
	.xlarger{
		font-size: 500%;
	}
}
@media (max-device-width: 768px){
	.medium{
		font-size: 90%;
	}
}
.w-100{
	width: 100%;
}

.text{
	color:white;
	margin-bottom: 10%;
	margin-top: 1%;

}
.margin-bottom-5{
	margin-bottom: 5%;
}
@media (max-device-width: 768px){
	.small{
		width: 20%;
	}
}
.number{
	margin-bottom: 90%;
	width: 100%;
}
@media (max-device-width: 768px){
	.number{
		height: auto;
		width:110%;
		display: inline-block;
	}
}

.padding-0{
	padding: 0%!important;
}
